In [1]:
import pandas as pd
import numpy as np

In [2]:
root = '/Users/liangzonglin/workplace/project/temp/baidu/bce-iot/du-home-log/7days_queryAndResponse.xlsx'
data = pd.read_excel(root, sheet_name=0,header=None)
data.head()

      0                                                  1
0  关闭烟机  {"error_code":0,"error_msg":"OK","result":{"da...
1  打开烟机  {"error_code":0,"error_msg":"OK","result":{"da...
2  再大一点  {"error_code":0,"error_msg":"OK","result":{"da...
3  关闭烟机  {"error_code":0,"error_msg":"OK","result":{"da...
4   快速蒸  {"error_code":0,"error_msg":"OK","result":{"da...

In [3]:
data.columns = ["query", "response"]

In [8]:
countDf = data.groupby(by="query").count()
dupDf = data.drop_duplicates(subset=["query"], keep="first")

In [15]:
countDf.reset_index(inplace=True)

In [16]:
mergeDf = pd.merge(dupDf,countDf, how="inner", on="query")
mergeDf.head()

  query                                         response_x  response_y
0  关闭烟机  {"error_code":0,"error_msg":"OK","result":{"da...         871
1  打开烟机  {"error_code":0,"error_msg":"OK","result":{"da...         230
2  再大一点  {"error_code":0,"error_msg":"OK","result":{"da...          17
3   快速蒸  {"error_code":0,"error_msg":"OK","result":{"da...           3
4  打开蒸箱  {"error_code":0,"error_msg":"OK","result":{"da...           3

In [17]:
mergeDf.columns = ["query", "response", "count"]

In [18]:
mergeDf.to_csv("query_count.csv", index=False)

In [19]:
# 计算占比
dupNum = mergeDf.loc[mergeDf["count"] >= 2, "count"].sum()
allTotal = mergeDf["count"].sum()
print(f"重复数据的占比为：{round(dupNum/allTotal, 3)*100}%")

重复数据的占比为：62.6%

In [20]:
dupNum

4653

In [21]:
allTotal

7431

In [22]:
mergeDf

,query,response,count
0,关闭烟机,"{""error_code"":0,""error_msg"":""OK"",""result"":{""da...",871
1,打开烟机,"{""error_code"":0,""error_msg"":""OK"",""result"":{""da...",230
2,再大一点,"{""error_code"":0,""error_msg"":""OK"",""result"":{""da...",17
3,快速蒸,"{""error_code"":0,""error_msg"":""OK"",""result"":{""da...",3
4,打开蒸箱,"{""error_code"":0,""error_msg"":""OK"",""result"":{""da...",3
...,...,...,...
3130,当时当时当时是一缺陷的,"{""error_code"":0,""error_msg"":""OK"",""result"":{""se...",1
3131,三只小狗只好返回营地赢钱再来,"{""error_code"":0,""error_msg"":""OK"",""result"":{""se...",1
3132,帮我介绍一下云南的旅游,"{""error_code"":0,""error_msg"":""OK"",""result"":{""se...",1
3133,我那个我那个我那个手机可以打卡的,"{""error_code"":0,""error_msg"":""OK"",""result"":{""se...",1
3134,那个八九针吃上药然后再那个啥在那个啥上玩上上激动啥你说这只这个药不是白吃了,"{""error_code"":0,""error_msg"":""OK"",""result"":{""se...",1