In [7]:
import pandas as pd
import numpy as np
import os

In [8]:
root = '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log'
fileDir = "data/task31"
filePath = []
fileList = os.listdir(root+'/'+fileDir)
for file in  fileList:
    if file.endswith(".csv"):
        filePath.append(f"{root}/{fileDir}/{file}")
filePath

['/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_052921:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_052919:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_052915:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_053007:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_053013:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_053001:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_053009:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_052923:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_052917:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_053005:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_053011:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/es_origin_data_053003:00:00.csv']

In [9]:
dataList = []
for file in filePath:
    df = pd.read_csv(file)
    df.dropna(axis=0, subset=["reqId", "ts"], how='any', inplace=True)
    dataList.append(df)
datadf = pd.concat(dataList, axis=0, ignore_index=True)
datadf.head()

                        ts                                 reqId
0  2024-05-29 21:01:22.132  25169233-B10A-4D94-A32B-8F29517B5E65
1  2024-05-29 21:01:19.817  9E11108D-3A1B-4B9D-A15C-F60668C84F68
2  2024-05-29 21:01:18.733  2100030E-6167-43B9-8D4B-064A8A3352C1
3  2024-05-29 21:01:20.643  01AEAFB5-7CA8-4456-A71E-E3AF2A672C31
4  2024-05-29 21:01:22.998  B9766E03-7DF9-46A1-8832-F81595DF19D6

In [10]:
fileDir = "data/task31/cacheData"
filePath = []
fileList = os.listdir(root+'/'+fileDir)
for file in  fileList:
    if file.endswith(".csv"):
        filePath.append(f"{root}/{fileDir}/{file}")
filePath

['/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/cacheData/es_origin_data_052921:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/cacheData/es_origin_data_052915:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/cacheData/es_origin_data_053009:00:00.csv',
 '/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/task31/cacheData/es_origin_data_053003:00:00.csv']

In [11]:
dataList = []
for file in filePath:
    df = pd.read_csv(file)
    df.dropna(axis=0, subset=["reqId", "ts"], how='any', inplace=True)
    dataList.append(df)
cacheDf = pd.concat(dataList, axis=0, ignore_index=True)
cacheDf.head()

                        ts                                 reqId
0  2024-05-29 21:01:21.417  01AEAFB5-7CA8-4456-A71E-E3AF2A672C31
1  2024-05-29 21:01:23.016  B9766E03-7DF9-46A1-8832-F81595DF19D6
2  2024-05-29 21:02:54.141  AE41326E-692C-4FE8-B670-D904FA795859
3  2024-05-29 21:02:19.076  11C920C5-A70B-42A2-AC92-B213A3DA92A8
4  2024-05-29 21:02:53.115  555A7C24-4C46-403A-9B4F-3B55B60239D3

In [12]:
len(cacheDf)

99228

In [13]:
sub_cache_df = datadf[~datadf["reqId"].isin(cacheDf["reqId"])].copy()
sub_cache_df.head()

                        ts                                 reqId
0  2024-05-29 21:01:22.132  25169233-B10A-4D94-A32B-8F29517B5E65
1  2024-05-29 21:01:19.817  9E11108D-3A1B-4B9D-A15C-F60668C84F68
2  2024-05-29 21:01:18.733  2100030E-6167-43B9-8D4B-064A8A3352C1
5  2024-05-29 21:02:43.357  EAD4EAA7-5C92-4BEB-AC83-1A88D156693C
8  2024-05-29 21:02:19.639  D3BD5F15-130D-4F6D-8750-F2695CCFE625

In [17]:
print(datadf["reqId"].nunique())

188482

In [14]:
sub_cache_df["reqId"].nunique()

89254

In [18]:
def getSecond(x):
    return x[:-4]
sub_cache_df.loc[:, "second"] = sub_cache_df["ts"].apply(getSecond)
sub_cache_df.head()

,ts,reqId,second
0,2024-05-29 21:01:22.132,25169233-B10A-4D94-A32B-8F29517B5E65,2024-05-29 21:01:22
1,2024-05-29 21:01:19.817,9E11108D-3A1B-4B9D-A15C-F60668C84F68,2024-05-29 21:01:19
2,2024-05-29 21:01:18.733,2100030E-6167-43B9-8D4B-064A8A3352C1,2024-05-29 21:01:18
5,2024-05-29 21:02:43.357,EAD4EAA7-5C92-4BEB-AC83-1A88D156693C,2024-05-29 21:02:43
8,2024-05-29 21:02:19.639,D3BD5F15-130D-4F6D-8750-F2695CCFE625,2024-05-29 21:02:19

In [19]:
len(sub_cache_df)

89254

In [20]:
# 去重
sub_cache_df.drop_duplicates(subset="reqId", keep="first", inplace=True)
print(len(sub_cache_df))
sub_cache_df.groupby("second").count()

89254

                     ts  reqId
second
2024-05-29 15:00:02   1      1
2024-05-29 15:00:03   2      2
2024-05-29 15:00:04   2      2
2024-05-29 15:00:09   2      2
2024-05-29 15:00:10   1      1
...                  ..    ...
2024-05-30 14:59:52   1      1
2024-05-30 14:59:54   1      1
2024-05-30 14:59:55   1      1
2024-05-30 14:59:57   1      1
2024-05-30 14:59:58   1      1

[47033 rows x 2 columns]

In [21]:
sub_cache_df.groupby("second").count()["ts"].max()

10

In [22]:
def getSecond(x):
    return x[:-4]
datadf.loc[:, "second"] = datadf["ts"].apply(getSecond)
datadf.groupby("second").count()["ts"].max()

15