In [21]:

import pandas as pd
import os
import sys
sys.path.append("/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log")
# from dags.temp.task27_stone_time.stone_time_ana import Analysis as anatime
# from stone_elapse_time_ana import Analysis

In [22]:

merge_df = pd.read_csv("/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/merge.csv")
merge_df.head()

,ts_x,region,seg,reqId,domain_x,req,logId,ts_y,module,log_id,domain_y,elapse_time
0,2024-05-18 12:02:17.715,SZ,ASR2IOT,57602c86e7da4b4f97a1b26fb40f0ae6,NaN,NaN,B64DD00D-8DAF-4F87-A3A4-442D77D316A9,"2024-05-18 12:02:17,732",nlu-infer-alarm,B64DD00D-8DAF-4F87-A3A4-442D77D316A9,alarm,9.0
1,2024-05-18 12:02:17.715,SZ,ASR2IOT,57602c86e7da4b4f97a1b26fb40f0ae6,NaN,NaN,B64DD00D-8DAF-4F87-A3A4-442D77D316A9,"2024-05-18 12:02:17,732",nlu-infer-time,B64DD00D-8DAF-4F87-A3A4-442D77D316A9,time,9.0
2,2024-05-18 12:02:17.715,SZ,ASR2IOT,57602c86e7da4b4f97a1b26fb40f0ae6,NaN,NaN,B64DD00D-8DAF-4F87-A3A4-442D77D316A9,"2024-05-18 12:02:17,730",nlu-infer-sys-peripheral,B64DD00D-8DAF-4F87-A3A4-442D77D316A9,SYS_PERIPHERALS,7.0
3,2024-05-18 12:02:17.715,SZ,ASR2IOT,57602c86e7da4b4f97a1b26fb40f0ae6,NaN,NaN,B64DD00D-8DAF-4F87-A3A4-442D77D316A9,"2024-05-18 12:02:17,738",nlu-infer-sys-parameter,B64DD00D-8DAF-4F87-A3A4-442D77D316A9,sys_parameter,15.0
4,2024-05-18 12:02:17.715,SZ,ASR2IOT,57602c86e7da4b4f97a1b26fb40f0ae6,NaN,NaN,B64DD00D-8DAF-4F87-A3A4-442D77D316A9,"2024-05-18 12:02:17,739",nlu-infer-greeting,B64DD00D-8DAF-4F87-A3A4-442D77D316A9,greeting,16.0

In [15]:
merge_df[merge_df["region"]=="BJ"].head()

Empty DataFrame
Columns: [ts_x, region, seg, reqId, domain_x, req, logId, ts_y, log_id, domain_y, elapse_time]
Index: []

In [23]:
merge_df["domain_y"].value_counts()

roborock_clean_function         297134
roborock_parameter_control      230484
alarm                           228146
time                            228146
SYS_PERIPHERALS                 228146
greeting                        228146
phone                           228146
space                           228146
roborock_schedule_management    228146
sys_parameter                   228142
sys_profile                     228142
sys_command                     228142
app_management                  228142
roborock_other_function         228142
other                           156812
Name: domain_y, dtype: int64

In [9]:
merge_df["region"].value_counts()

SZ    1180648
GZ    1146803
Name: region, dtype: int64

In [10]:
time_df = pd.read_csv("/Users/liangzonglin/workplace/project/baidu/bce-iot/du-home-log/data/version2_0/2024-05-18/queryByresId/es_origin_data_00:00:00.csv")
time_df.head()

,ts,region,seg,reqId,domain,logId,req
0,2024-05-18 00:00:05.287,SZ,NaN,78be9fe8acd34495b504a75f1d2df5a7,NaN,NaN,NaN
1,2024-05-18 00:00:05.289,SZ,NaN,78be9fe8acd34495b504a75f1d2df5a7,NaN,NaN,NaN
2,2024-05-18 00:00:05.295,SZ,NaN,78be9fe8acd34495b504a75f1d2df5a7,NaN,NaN,NaN
3,2024-05-18 00:00:05.295,SZ,ASR2IOT,78be9fe8acd34495b504a75f1d2df5a7,NaN,ED1AAA62-7A6A-4FCB-8448-907B3109E405,NaN
4,2024-05-18 00:00:05.296,SZ,NaN,78be9fe8acd34495b504a75f1d2df5a7,NaN,NaN,NaN

In [16]:
time_df["region"].value_counts()

GZ    40820
SZ    28678
BD    22209
Name: region, dtype: int64

In [17]:
time_df[time_df["region"]== "BD"]["region"] = "BJ"

/var/folders/81/j0bvbxw56kx30ybjrybjc9kr0000gn/T/ipykernel_49681/3021399360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time_df[time_df["region"]== "BD"]["region"] = "BJ"

In [18]:
time_df["region"].value_counts()

GZ    40820
SZ    28678
BD    22209
Name: region, dtype: int64

In [19]:
time_df.loc[time_df["region"]== "BD", "region"] = "BJ"

In [20]:
time_df["region"].value_counts()

GZ    40820
SZ    28678
BJ    22209
Name: region, dtype: int64